body {
        box-sizing: border-box;
        background-color: black;
        margin: 0;
        overflow-x: hidden;
        height: 300vh;
}

.hidden {
        display: none;
}

/* iframe {
        position: absolute;
        width: 100vw;
} */

.home-page {
        height: 100vh;
        width: 100vw;
        position: absolute;
        /* border: solid 1px green; */
        background: url(../assets/NOSCHT_WEBSITE_GIFS_FUTURELAND.gif);
        background-size: cover;
}

.home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75vw;
        height: 20px;
        margin: auto;
        position: absolute;
        top: 0; left: 0px; bottom: 0; right: 0;
        /* border: solid 1px red; */
        z-index: 9;
}

.home > * {
        color: whitesmoke;
        font-family: 'din-2014';
        font-weight: 300;
        font-size: 12px;
}

.work {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
        width: 100vw;
        /* margin: auto; */
        position: relative;
        /* margin-bottom: 200px; */
        top: 120vh; left: 0px; bottom: 20vh; right: 0;
        /* border: solid 1px green; */
}

.work > * {
        color: whitesmoke;
        font-family: 'din-2014';
        font-weight: 300;
        font-size: 12px;   
}

.reel {
        margin-top: 50px;
        color: whitesmoke;
        font-family: 'din-2014';
        font-weight: 700;
        font-size: 12px; 
}


.info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
        height: 20px;
        margin: auto;
        position: relative;
        top: 170vh; left: 0px; bottom: 0; right: 0;
        /* border: solid 1px red; */
}

.info > * {
        color: whitesmoke;
        font-family: 'din-2014';
        font-weight: 300;
        font-size: 12px;
}


@media only screen and (min-width: 769px) {
        
}