body {
        background: black;
        margin: 0;
        overflow: hidden;
}

.vimeo-player-mobile {
        width: 100vw;
        height: 30vh;
        /* position: absolute; */
        /* position: absolute; */
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 999;
        /* border: solid 1px red; */
}

iframe {
        width: 100%;
        height: 100%;
        /* border: solid 1px green; */
}


